[DEFAULT]
GX_CHORUS_CC = 80
GX_TREMOLO_CC = 81

GX_WAH_CC = 1
GX_VOLUME_CC = 7

channel = 1

[Guitarix:Clean]
enter = ProgramChange(1)
labels = chorus  tremolo
button_A = ControlChange(${GX_CHORUS_CC})
button_B = ControlChange(${GX_TREMOLO_CC})
pedal_2 = ControlChange(${GX_VOLUME_CC})

[Guitarix:Clean + Wah]
enter = ProgramChange(2)
labels = chorus  tremolo
button_A = ControlChange(${GX_CHORUS_CC})
button_B = ControlChange(${GX_TREMOLO_CC})
pedal_1 = ControlChange(${GX_WAH_CC})
pedal_2 = ControlChange(${GX_VOLUME_CC})

[Guitarix:Overdrive]
enter = ProgramChange(3)

# vi: ft=desktop
