[Unit]
Description=Opimidi back-end
Requires=opimidi_usb.service opimidi_perms.service opimidi_be.socket
After=opimidi_usb.service opimidi_perms.service

[Service]
Type=simple
ExecStart=/usr/local/bin/opimidi_be
Nice=-15
User=opimidi

[Install]
WantedBy=multi-user.target
