[Unit]
Description=Opimidi front-end
Requires=opimidi_be.socket opimidi_perms.service
After=opimidi_be.socket opimidi_perms.service

[Service]
Type=simple
ExecStart=/usr/local/bin/opimidi_fe
User=opimidi

[Install]
WantedBy=multi-user.target
